.root {
    flex-grow: 1;
    width: 100%;
}
.spinner {
  margin: 1rem;
}

.root h6 {
   color: #969faf;
}
.rating {
    position: sticky;
}
.page {
    color: #5372a8;
}

.grid {
    text-align: center;
}

.skeletonLoading  {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
    opacity: 1 !important;
}

.skeletonLoaded {
    opacity: 0 !important;
    display: none !important;
}
.notFound img {
    height: 29.5rem !important;
}
.loading  {
    opacity: 0;
}
.loaded {
    opacity: 1;
}
.card {
    position: relative;
    transition: all .3s ease-in-out !important;
    margin-bottom:1rem;
    height: auto;
}
.cardLoading {
    position: relative !important;
    height: 23rem;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 10px 17px -8px rgba(0,0,0,0.75);
}

@media(max-width:956px) {
    .spinner {
        top: 50%;
        left: 45%;
    }
}

@media(max-width:600px) {
    .card img {
        height:auto;
     }
}
@media(max-width:400px) {
    .root {
        padding: 0;
    }
    .page {
        font-size: 1.5rem;
    }
}
