.movie {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    color: #969faf !important;
    background-color: #e2e0f73b;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh;
}
.info {
    text-align: center;
}

.info h6 {
    width: 50%;
    margin: 0 auto;
    text-align: center; 
    margin-top: -3px;
    margin-bottom: -2px;
    opacity: 80%;
}
.genreItems {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.overview h6 {
text-indent: 1rem;
}
.imageContainer {

    margin: 1rem;
    width: 60%;
    object-fit: cover;
}
.CTA {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.CTA > *{
    margin: 1rem !important;
}

.backdrop {
    color:#fff;
    z-index: 2000 !important;
}
.noTrailer {
    display: flex;
    justify-content: center;
    align-self: center;
}
.related {
    flex-grow: 1;
}
.image {
    width: 100%;
    height: 100%;
    box-shadow: -2px 4px 10px -4px #000000;
    border-radius: 5px;
}

@media(max-width: 956px) {
    .imageContainer {
        text-align: center !important;
        width: 100%;
    }
    .genreItems {
        justify-content: center;
    }
    .noTrailer {
        height: 50vh;
        width: 80vw;
    }
}
@media(max-width:500px) {
    .trailer {
        transform: rotate(-90deg);
    }
    .imageContainer {
        margin: 5px;
    }
}
 


