.movie {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    color: #969faf !important;
    background-color: #e2e0f73b;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh;
}
.info {
    text-align: center;
}

.info h6 {
    width: 50%;
    margin: 0 auto;
    text-align: center; 
    margin-top: -3px;
    margin-bottom: -2px;
    opacity: 80%;
}
.genreItems {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.overview h6 {
    text-indent: 1rem;
}
.overviewContainer {
    margin: 1rem;
    width: 60%;
}
.CTA {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.CTA > * {
    margin: 1rem !important;
}

.backdrop {
    color:#fff;
    z-index: 2000 !important;
}
.noTrailer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.images img {
   margin: 2px !important;
}
.cast {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}
.castAvatar {
   margin: 5px !important;
   transition: all .3s ease-in-out;
   box-shadow: 0px 10px 5px -7px #000000;
   background-color: #382864 !important;
}
.castAvatar:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 10px 13px -7px #000000
 }
@media(max-width: 956px) {
    .overviewContainer {
        text-align: center !important;
        width: 100%;
    }
    .genreItems {
        justify-content: center;
    }
    .noTrailer {
        height: 50vh;
        width: 80vw;
    }

    .movie {
      flex-direction: row !important;
    }
}
@media(max-width:500px) {
    .trailer {
        transform: rotate(-90deg);
    }
    .overviewContainer {
        margin: 5px;
    }
}
 


