nav a, li, h6 {
  color: #969faf !important;
}

@media(min-width:100px) {
  nav a, li {
    color: #969faf !important;
  }
 .sidebar a {
  color: #969faf !important;
 }
}
@media(max-width:959px) {
  *::-webkit-scrollbar {
    width: 4px;
  }
  .Spinner {
    left: 50% !important;
  }

}
*::-webkit-scrollbar {
  width: .5rem;
}
*::-webkit-scrollbar-track {
  background: #cfd5d6;
}
*::-webkit-scrollbar-thumb {
  background-color: #441f8a;
}


body::-webkit-scrollbar {
  width: .5rem !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #441f8a;
}

.content {
  padding:2rem;
  width: 100%;
  overflow: hidden;
}
.Spinner {
  position: fixed;
  top: 50%;
  left: 55%;
  z-index: 33;
  transform: translate(-50%, -50%);
}
.Spinner_center {
  text-align: center !important;
  margin-top: 2rem !important;
}

.Profile_Avatar_Show {
  width: auto !important;
  height: auto !important;
  opacity: 1;
  z-index: 2;
  margin:  0 auto;
  box-shadow: 0px 3px 13px -5px #000000;
  border-radius: .5rem !important;
}

.Profile_Avatar_Hide {
 opacity: 0;
 z-index: 0;
}

.Profile_Grid_Show {
  position: relative;
}
.Profile_Grid_Hide {
  position: static;
}
.Profile_Skeleton_Show {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100% !important;
  height: 100% !important;
}
.Profile_Skeleton_Hide {
  display: none;
  opacity: 0;
  z-index: 1;
}


.Profile_Container {
  padding: 1.2rem !important;
  color: #969faf !important;
}
.Profile_Info {
text-align: center;
}
.MuiButton-root {
  border-radius: 4rem !important;
} 
