nav a, li, h6 {
  color: #969faf !important;
}
*::-webkit-scrollbar {
  width: .5rem;
}
@media(min-width:100px) {
  nav a, li {
    color: #969faf !important;
  }
 .sidebar a {
  color: #969faf !important;
 }
}
@media(max-width:959px) {
  *::-webkit-scrollbar {
    width: 4px;
  }
  .content {
    padding:1rem !important;
  }
  
}

*::-webkit-scrollbar-track {
  background: #cfd5d6;
}
*::-webkit-scrollbar-thumb {
  background-color: #441f8a;
}


body::-webkit-scrollbar {
  width: .5rem !important;
}

body::-webkit-scrollbar-thumb {
background-color: #441f8a;
}

.content {
  padding:2rem;
  width: 100vw;
}

